.header-container {
  display: flex;
  justify-content: space-between; /* Đẩy logo sang trái, profile sang phải */
  align-items: center;
  padding: 20px 60px;
  margin-top: 0;
  background-color: #ffffff;
}

.logo {
  height: 50px; /* Chỉnh kích thước logo cho vừa vặn */
  width: 60px;
  display: block;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px 0 0;
  border: 1px solid #143055;
  border-radius: 99px; /* Tạo hình viên thuốc */
  overflow: hidden; /* Ẩn phần thừa của avatar */
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #002d72;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.profile-info {
  display: flex;
  flex-direction: column; /* Xếp chữ Personal và Username theo hàng dọc */
  text-align: left;
}

.icon-user {
  color: #010d68;
  font-size: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.label-personal {
  color: #888;
  font-size: 10px;
}

.username-text {
  font-size: 14px;
  color: #070707;
}
